html, body{
	background-color: grey;
}

.space{
	height: 50px;
}

.smallspace{
	height: 10px;
}

.smalltext{
	font-size: 12px;
}

/*
.fontsite {
	font-family: Georgia, serif;
	font-size: 16px;
} 
*/

.container-fluid {
	min-width: 1050px;
	max-width: 1050px;
	height: 100%;
	float: none;
	margin:0 auto;
	background-color: rgb(170,180,190);
	box-shadow: 3px 3px 5px 6px #000000;
	font-family: Georgia, serif;
	font-size: 16px;
}

/*
.shiny-html-output {
	%background-color: rgb(200,200,200);
}
*/

/*
.table {
	background-color: rgb(200,200,220);
}
.table-hover {
	background-color: rgb(240,240,250);
}
.table-striped>tbody>tr:nth-child(odd)>td,
tr.found{
    background-color: rgb(180,180,200);
}

.sidebar {
	background-color: rgb(170,180,190);
}
        
#sidebar {
	background-color: rgb(200,200,220);
}
*/

.white-wide {
	min-width: 100%;
	background-color: rgb(255,255,255);
	box-shadow: 3px 3px 5px 6px #000000;
}














/*
https://github.com/trestletech/ShinyChat/blob/master/shinychat.css
*/


#chat {
  padding: .5em;
  border: 1px solid #777;
  height: 150px;
  overflow-y: scroll;
}

.user-change, .user-exit, .user-enter {
  /*color: #aaa;*/
  color: rgb(0,0,0)
  font-size: .8em;
}

.username {
  font-weight: bold;
  color: #226;
}

/*


#entry {
  width: 100%;
}

.center {
  text-align :center;
  padding-top: 3px;
}

#play-nice {
  color: #AAA;
  text-align: right;
  padding: 30px 0;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

*/